* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
img{
    display: inline-flex;
    margin: 10px auto;
    max-width: 350px
}
header{
    background-color: darkblue;
    color: white;
    text-align:center
}

.header h1{
    font-size: 35px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a { 
    display: block;
    color: white;
    text-align: center;
    padding:14px 16px; 
}

.content{
    display: inline-block;
    margin-left: 20px;
}

figure{
    background-color: aqua;
}
 h2{
     font-size: 35px
 }
 h3{
     font-size: 35px
 }

 .card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
  }